@inject SignInManager<ZOI.BAL.Models.ApplicationUser> signManager;
@inject UserManager<ZOI.BAL.Models.ApplicationUser> userManager;
@{
    var userId = string.Empty;
    if (signManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        userId = user.Id;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    @*<title>ZOI FINTECH SERVICES</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta name="description" content="" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="favicon.ico" rel="shortcut icon">

    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap" rel="stylesheet">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Assets/css/site.css" rel="stylesheet">*@
</head>
<body>
    <header>
        @*<div class="overlayer"></div>*@
        @*<div class="container-fluid">*@
            @*<div class="logo">
                <a href="#"><img src="~/Assets/images/logo.png"> <span> ZOI FINTECH SERVICES</span></a>
            </div>*@
            
        @*</div>*@
    </header>
    <div class="container mt-30 pt-60">
        @RenderBody()
    </div>

    @*<footer>
        <div class="FL">Developed by: <a href="#"><strong>ZOI FINTECH SERVICES</strong></a></div>

        <div class="FR">Copyright © 2019-2020.  All Rights Reserved <a href="#" class="pl-3">Privacy Policy</a></div>
    </footer>*@
    @*<script src="~/Assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/image-uploader.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/multi-selector.js"></script>
    <script type="text/javascript" src="~/Assets/js/custom.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
